@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-fira);
}

@layer base {
  ol, ul {
    list-style: inherit;
    list-style-position: inside;
  }
  li {
    &::marker {
      margin-right: 2px;
    }
  }
}

.text-hover {
  @apply hover:text-violet-500 transition duration-300;
}